<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<%&#45;&#45;分页显示的开始 &#45;&#45;%>-->
<!--<div th:fragment="common_pager"  style="text-align:center" >-->
<!--    <a th:href="@{${#request.getRequestURL()}(current=1,name=${param.name})}">首页</a>-->
<!--    <a th:if="${page.getPageNum()}" th:href="@{${#request.getRequestURL()}(current=${page.getPageNum()-1},name=${param.name})}">上一页</a>-->

<!--    <span th:text="${''+page.getPageNum()+'页'}">第1页</span>|<span th:text="|共${page.getTotalPage()}页|">共10页</span>-->

<!--    <a th:if="${page.hasNext()}"  th:href="@{${#request.getRequestURL()}(current=${page.getPageNum()+1},name=${param.name})}">下一页</a>-->
<!--    <a th:href="@{${#request.getRequestURL()}(current=${page.getTotalPage()},name=${param.name})}">末页</a>-->
<!--</div>-->
<!--<%&#45;&#45;分页显示的结束&#45;&#45;%>-->

</body>
</html>